<div class="top-wrapper">
    <!-- ここにコードを書いていきましょう -->
    <div class = "container">
      <h1>G-Movesと一緒に動こう</h1>
      <h1>G-Movesと一緒に日記を書こう</h1>
    </div>
</div>
<h1 class="welcome">ようこそG-Movesへ</h1>
<h2 class="about">G-Movesとは</h2>
<h3>移動経路を移動手段で色分けして表示</h3>
<h3>とどまった場所に一言コメントを<h3>
<h3>カレンダーからあの日の日記を振り返ろう<h3>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<h1>.</h1>
