<div class="usershow">
<h1> userさん</h1>
<%= image_tag 'dog.jpg'%>
<h1>　カレンダー</h1>

<% if @is_checking_user_log %>
  <h2>今日の移動図</h2>
<% end %>
<div class = "map">
<%= render 'map'%>
</div>
<%= button_to '日記を書く',diaries_path,class:"write"%>
</div>
